
@{
    ViewBag.Title = "Index";
}
<div style="display:flex;margin-top:100px;width: 120%;">
    <div style="flex:1;text-align:center;">
        <form class="form-signin" method="post">
            <img class="mb-4" src="https://pro2-bar-s3-cdn-cf5.myportfolio.com/3575d5b30271376c24563c9a86f6abe9/66ef9db2f6239ba269fc388941039beecffca8f426018cae79e83709933223607a6b0f573bed5850_rw_1920.png?h=1264af2fefafb2dc430618b300761c18" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">CONNEXION</h1>
            <label for="inputEmail" class="sr-only">EMAIL</label>
            <input name="email" type="email" id="inputEmail" class="form-control" placeholder="EMAIL" required autofocus>
            <label for="inputPassword" class="sr-only">MOT DE PASSE</label>
            <input name="password" type="password" id="inputPassword" class="form-control" placeholder="MOT DE PASSE" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">CONNEXION</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
        </form>
    </div>
</div>